canvas {
    display: block;
    margin: 0 auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal {
    width: 500px;
    height: 300px;
    /*background: rgba(0, 0, 0, 0.5);*/
    position: absolute;
    background: white;
    border-radius: 30px;
    display: flex;
}

.restart {

    height: 50px;
    width: 60px;
    align-items: center;
    justify-content: center;

}
